.login-page-pin {
  display: flex;
  align-items: center !important;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #00afef;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 10em;
  padding-right: 10em;
  gap: 2em;
  text-align: center;
}

.divIconsAndSpan {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.iconLogin {
  font-size: 15px;
  color: #ffff;
}

.iconLogin:hover {
  cursor: pointer;
  color: #a8cf45;
}

.spanLogin {
  font-size: 15px;
  color: #ffff;
}

.spanLogin:hover {
  cursor: pointer;
  color: #a8cf45;
}

.divButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.buttonLogin {
  background: linear-gradient(110.55deg, #00afef 21.22%, #a8cf45 68.3%);
  border-radius: 10px;
  cursor: pointer;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #ffff;
  border: none;
  
}
.buttonLogin:hover {
  cursor: pointer;
  color: #ffff;
  background: linear-gradient(110.55deg, #a8cf45 21.22%, #00afef 68.3%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.descriptionButton{
  color: #ffff;
}
.descriptionButton:hover{
  cursor: pointer;
  color: #ffff;
}
.divLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.labelInputs {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #ffff;
  margin-top: 1em;
}

.inputStyles {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  color: black;
  font-weight: 800;
  text-align: center;
}
